<?xml version="1.0"?>
<model>
  <name>Quadrotor_F450C_base</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Desmond Fotock</name>
    <email>fotockd@yahoo.co.uk</email>
  </author>
  <description>
    Custom F450 Quadcopter for PX4 + ROS2 + Gazebo
  </description>
</model>

